@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>SMS til 26112</p>

<p>Driektemelding:<br />
hnd d &lt;brukernavn&gt; &lt;melding&gt;</p>

<p>Få siste melding:<br />
hnd c &lt;kanal&gt;</p>

<p>Sende melding til kanal:<br />
hnd c &lt;kanal&gt; &lt;melding&gt;</p>
